{% extends "layout.html" %}
{% load staticfiles category_tags debug_tags %}
{% load i18n customtag %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=1 %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block extrascripts %}
{% endblock %}

{% block content %}
<div class="img-banner" id="img-banner">
        <div class="container">
            <div class="row">
               <div class="banner-details">
                   <ul class="bxslider">
                        {% with product.images.all as images %}
                        {% for image in images %}
                            <li><img src="{{ image.original.url }}" class="img-responsive" /></li>
                        {% endfor %}
                            <li><a href="{{promotions_page.0.link_url}}"> <img src="{{promotions_page.0.image.url}}" class="img-responsive" /></a></li>
                            <li><a href="{{promotions_page.1.link_url}}"> <img src="{{promotions_page.1.image.url}}" class="img-responsive" /></a></li>
                            <li><a href="{{promotions_page.2.link_url}}"> <img src="{{promotions_page.2.image.url}}" class="img-responsive" /></a></li>
                            <li><a href="{{promotions_page.3.link_url}}"> <img src="{{promotions_page.3.image.url}}" class="img-responsive" /></a></li>
                        {% endwith %}
                   </ul>

{#                  <img src="{% static "markatix/img/biker-blatt.jpg" %}" class="img-responsive">#}
{#                    <div class="banner-text">#}
{#                        <h4>Romantic Gateways from Bangalore</h4>#}
{#                        <a href="/about">Know More <span class="arrow-right"><i class="fa fa-arrow-right"></span></i></a>#}
{#                    </div>#}
               </div>
            </div>
        </div>
</div>
<div class="banner-dropdown" id="banner-dropdown">
         <div class="container">
            <div class="row">
              <!-- 
              <form method="POST" id="form">{% csrf_token %}
               {% category_tree as tree_categories %}
                <select id="selectId">
                  {% for city in tree_categories %}
                    <option value="{{city.0.get_absolute_url}}">{{city.0.name}}</option>
                  {% endfor %}
                </select>
                <input type="submit"></input>
              </form>
               -->
              <form method="GET" id="form">
{#                   <div class="dropdown-details hidden-xs animated fadein" animation-duration="2s" animation-delay="2s" animation-iteration-count="infinite">#}
                    <div class="dropdown-details-alpha hidden-xs">
                      <div class="dropdown-heading">
                         <h3 class="text-center">Find Your Flavour</h3>
                      </div>

                      <div class="dropdown-content drop-cont-1">
                         <div class="col-md-2">
                            <div class="dropdown destinations text-center">
                               {% category_tree as tree_categories %}
                                <select id="selectId" class="btn-primary form-control">
                                  {% for city in tree_categories %}
                                    <option value="{{city.0.get_absolute_url}}">{{city.0.name}}</option>
                                  {% endfor %}
                                </select>
    {#                           <!-- #}
    {#                           {% category_tree as tree_categories %}#}
    {#                           <ul class="dropdown-menu">#}
    {#                              {% for city in tree_categories %}#}
    {#                                <li><a href="{{city.0.get_absolute_url}}">{{city.0.name}}</a></li>#}
    {#                              {% endfor %}#}
    {#                           </ul>#}
    {#                           -->#}
                            </div>
                         </div>
                         <div class="col-md-2">
                            <div class='input-group date' id='datetimepicker6'>
                               <!-- <input type='text' class="form-control" id="arr-date" name="date" placeholder="Arrival Date (MM/DD/YYY)" /> -->
                               <input class="form-control" type="text" id="dpd1" placeholder="Arrival Date (MM/DD/YYY)"/>
                               <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                               </span>
                            </div>
                         </div>
                         <div class="col-md-2">
                            <div class='input-group date' id='datetimepicker7'>
                            <!--<input type='text' class="form-control" id="dep-date" name="date" placeholder="Departure Date(MM/DD/YYYY)" /> -->
                               <input class="form-control" type="text" id="dpd2" placeholder="Departure Date(MM/DD/YYYY)"/>
                               <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                               </span>
                            </div>
                         </div>
                         <div class="col-md-2">
                          <!-- <div class="dropdown month text-center">
                               <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Month
                                  <span class="caret"></span></button>
                                  <ul class="dropdown-menu">
                                     <li><a href="#">HTML</a></li>
                                     <li><a href="#">CSS</a></li>
                                     <li><a href="#">JavaScript</a></li>
                                  </ul>
                               </div> -->
                            <input class="form-control" id="people" name="people" placeholder="No. Of People" type="number"/>
                         </div>
                         <div class="col-md-2">
                            <div class="button submit text-center">
                               <input class="btn btn-primary" type="submit">
                               <!-- <button class="btn btn-primary" type="button">Submit</button> -->
                            </div>
                         </div>
                      </div>
                    </div>
              </form>
            </div>
         </div>
</div>  
<div class="top6" id="top6">
         <div class="container">
            <div class="row">
               <div class="customized-heading-1">
                  <h3>top experiential</h3>
                  <h2>stays</h2>
                  <p>popular places based on audience stay</p>
               </div>
            </div>
            <div class="row">
              {% top_products as products %}
               <div id = "mob" class="col-md-3 padding-change-1">
                  <div class="recom-place-1" id="place-1">
                     <div class="content-1">
                        <a href="{{ products.0.get_absolute_url }}">
                           <div class="content-overlay-1"></div>
                           {% with image=products.0.primary_image %}
                           <img class="content-image-1" src="{{ image.original.url }}" class="img-responsive" alt="{{ products.0.get_title }}">
                           {% endwith %}
                           <div class="content-details-1 fadeIn-bottom-1">
                              <h3 class="content-title">{{ products.0.get_title }}</h3>
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="recom-place-2" id="place-2">
                     <div class="content-1">
                        <a href="{{ products.1.get_absolute_url }}">
                           <div class="content-overlay-1"></div>
                           {% with image=products.1.primary_image %}
                           <img class="content-image-1" src="{{ image.original.url }}" class="img-responsive" alt="{{ products.1.get_title }}">
                           {% endwith %}
                           <div class="content-details-1 fadeIn-bottom-1">
                              <h3 class="content-title">{{ products.1.get_title }}</h3>
                              <!-- <p class="content-text">This is a short description</p> -->
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-6  padding-change-2">
                  <div class="recom-place-3">
                     <div class="content-1">
                        <a href="{{ products.2.get_absolute_url }}">
                           <div class="content-overlay-1 content-overlay-2"></div>
                           {% with image=products.2.primary_image %}
                           <img class="content-image-2" src="{{ image.original.url }}" class="img-responsive" alt="{{ products.2.get_title }}">
                           {% endwith %}
                           <div class="content-details-1 content-details-2  fadeIn-bottom-1">
                              <h3 class="content-title">{{ products.2.get_title }}</h3>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-3  padding-change-3 hidden-xs">
                  <div class="recom-place-4">
                     <div class="content-1">
                        <a href="{{ products.3.get_absolute_url }}">
                           <div class="content-overlay-1"></div>
                           {% with image=products.3.primary_image %}
                           <img class="content-image-1" src="{{ image.original.url }}" class="img-responsive" alt="{{ products.3.get_title }}">
                           {% endwith %}
                           <div class="content-details-1 fadeIn-bottom-1">
                              <h3 class="content-title">{{ products.3.get_title }}</h3>
                              <!-- <p class="content-text">This is a short description</p> -->
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="recom-place-5">
                     <div class="content-1">
                        <a href="{{ products.4.get_absolute_url }}">
                           <div class="content-overlay-1"></div>
                           {% with image=products.4.primary_image %}
                           <img class="content-image-1" src="{{ image.original.url }}" class="img-responsive" alt="{{ products.4.get_title }}">
                           {% endwith %}
                           <div class="content-details-1 fadeIn-bottom-1">
                              <h3 class="content-title">{{ products.4.get_title }}</h3>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
{#               <div class="col-md-2  padding-change-4 hidden-xs">#}
{#                  <div class="recom-place-6">#}
{#                     <div class="content-1">#}
{#                        <a href="{{ products.5.get_absolute_url }}">#}
{#                           <div class="content-overlay-1 content-overlay-2"></div>#}
{#                           {% with image=products.5.primary_image %}                           #}
{#                           <img class="content-image-2" src="{{ image.original.url }}" class="img-responsive" alt="{{ products.5.get_title }}">#}
{#                           {% endwith %}#}
{#                           <div class="content-details-1 content-details-3  fadeIn-bottom-1">#}
{#                              <h3 class="content-title">{{ products.5.get_title }}</h3>#}
{#                           </div>#}
{#                        </a>#}
{#                     </div>#}
{#                  </div>#}
{#               </div>#}
            </div>
         </div>
</div>

<div class="experieces-text" id="experieces-text">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="experieces-text-img">
                     <h2 class="text-center">EXPERIENCES</h2>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="experieces-text">
                     <h4>Explore some of the best stays around places your choice from our partners and friends</h4>
                     <p>Each partner/host has been in preson visited to experience, understand, relate to the property, its surroundings and things to do, so you get what you see. The Real Experience.</p>
                  </div>
               </div>
            </div>
            <div class="row" id="experience_repeat">
              {% top_experiences as experiences %}
              {% for experience in experiences %}
                <div class="col-md-2 mobile-padding-1">
                  <div class="content-1">
                   <a href="{{ experience.get_absolute_url }}">
                      <div class="content-overlay-1"></div>
                        {% with image=experience.images.0 %}
                        <img src="{{ image.image.url }}" alt="{{ experience.product_title }}" class="img-responsive" style="height: 280px">
                        {% endwith %}
                      <div class="content-details-1 fadeIn-bottom-1">
                          <h3 class="content-title">{{experience.product_title}}</h3>
                         <!--<p class="content-text">This is a short description</p> -->
                      </div>
                   </a>
                  </div>
                </div>
              {% endfor %}
            </div>
         </div>
</div>

    <div class="recommend-place" id="recommend-place">
         <div class="container">
            <div class="row">
               <div class="customized-heading-2">
                  <div class="background-img-2">
                     <h3>Do It</h3>
                     <h2>Yourself</h2>
                  </div>
                  <p>Can't find a place of your taste, leave your recommendation and we will find one for you. Suggest a place you have stayed and loved the experience. Your incentive Awaits.</p>
{#                  <div class="recommend-btn">#}
{#                      <a href="/contact">Recommend Experiences</a>#}
{#                   </div>#}
               </div>
            </div>
         </div>
    </div>


<div class="review" id="review">
       <div class="container">
          <div class="row">
             <div class="col-md-8 col-md-offset-2">
{#                 <div class="customized-heading-2">#}
{#                    <div class="background-img-3">#}
{#                       <h3>We Are</h3>#}
{#                       <h2>At our Best</h2>#}
{#                    </div>#}
{#                 </div>#}
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                   <!-- Carousel indicators -->
                   <ol class="carousel-indicators">
                      <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                      <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                   </ol>
                   <!-- Carousel items -->
                   <div class="carousel-inner">
                      <div class="active item text-center">
                         <!-- <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>-->
                          <div class="reviewer-img text-center">
                            <img src="{% static "markatix/img/10.jpg" %}" class="img-responsive">
                          </div>
                          <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                         </blockquote>
{#                          <h3><span><a href=""><i class="fa fa-facebook"></i></a></span><span><a href=""><i class="fa fa-twitter"></i></a></span><span><a href=""><i class="fa fa-instagram"></i></a></span><span><a href=""><i class="fa fa-youtube"></i></a></span></h3>#}
                      </div>
                      <div class="item text-center">
                        <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                         <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                         </blockquote>
{#                         <h3><span><a href=""><i class="fa fa-facebook"></i></a></span><span><a href=""><i class="fa fa-twitter"></i></a></span><span><a href=""><i class="fa fa-instagram"></i></a></span><span><a href=""><i class="fa fa-youtube"></i></a></span></h3>#}
                      </div>
                      <div class="item text-center">
                        <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
                         <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                         </blockquote>
{#                         <h3><span><a href=""><i class="fa fa-facebook"></i></a></span><span><a href=""><i class="fa fa-twitter"></i></a></span><span><a href=""><i class="fa fa-instagram"></i></a></span><span><a href=""><i class="fa fa-youtube"></i></a></span></h3>#}
                      </div>
                   </div>
                </div>
             </div>
          </div>
                  <div class="recommend-btn text-center">
                      <a href="/contact">Recommend Experiences</a>
                  </div>
       </div>
</div>


{% wordpress_feeds as feeds %}
<div class="explore-world" id="explore-world">
         <div class="container">
{#            <div class="row">#}
{#               <div class="customized-heading-2">#}
{#                  <div class="background-img-3">#}
{#                     <h3>Explore The</h3>#}
{#                     <h2>World of Eco Hunter</h2>#}
{#                  </div>#}
{#                  <!-- <h6>Can't find a place of your taste, leave your recommendation and we will find one for you. Suggest a place you have stayed and loved the experience. Your incentive Awaits.</h6> -->#}
{#               </div>#}
{#            </div>#}
            <div class="row">
               <div class="col-md-12">
                  <ul class="tabs-try">
                     <li class="one filter-button active" data-filter="blog">
                        <p>Blog</p>
                     </li>
                     <li class="two filter-button" data-filter="craft-post">
                        <p>Craft Post</p>
                     </li>
                     <!--
                        <li class="three filter-button" data-filter="sprinkle"><a href="#">Images</a></li> -->
                     <hr/>
                     <!--   <li class="four"><a href="#">Quatro</a></li> -->
                  </ul>
                  <div class="row">


                     <div class="col-md-6 padding-change-5">
                        <div class="explore-world exp-1 filter blog">
                           <div class="content-1">
                              <a href="{{ feeds.0.link | safe}}">
                                 <div class="content-overlay-1"></div>
                                 <img class="content-image-3" src="{{feeds.0.image.rendered}}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">{{ feeds.0.title | safe}}</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="explore-world exp-1 filter craft-post hidden-xs">
                           <div class="content-1">
                              <a href="https://unsplash.com/photos/HkTMcmlMOUQ">
                                 <div class="content-overlay-1"></div>
                                 <img class="content-image-3" src="{% static "markatix/img/explore-world/01.jpg" %}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">This is a title</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>


                        <div class="explore-world exp-2 filter blog">
                           <div class="content-1">
                              <a href="{{ feeds.1.link | safe}}">
                                 <div class="content-overlay-1 temporary-1"></div>
                                 <img class="content-image-4" src="{{feeds.1.image.rendered}}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">{{ feeds.1.title | safe}}</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="explore-world exp-2 filter craft-post hidden-xs">
                           <div class="content-1">
                              <a href="https://unsplash.com/photos/HkTMcmlMOUQ">
                                 <div class="content-overlay-1 temporary-1"></div>
                                 <img class="content-image-4" src="{% static "markatix/img/explore-world/02.jpg" %}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">This is a title</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="explore-world exp-3 filter blog">
                            <div class="content-1">
                              <a href="{{ feeds.2.link | safe}}">
                                 <div class="content-overlay-1 temporary-1"></div>
                                 <img class="content-image-4" src="{{feeds.2.image.rendered}}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">{{ feeds.2.title | safe}}</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="explore-world exp-3 filter craft-post hidden-xs">
                            <div class="content-1">
                              <a href="https://unsplash.com/photos/HkTMcmlMOUQ">
                                 <div class="content-overlay-1 temporary-1"></div>
                                 <img class="content-image-4" src="{% static "markatix/img/explore-world/03.jpg" %}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">This is a title</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-6 padding-change-5">
                        <div class="explore-world exp-4 filter blog hidden-xs">
                           <div class="content-1">
                              <a href="{{ feeds.3.link | safe}}">
                                 <div class="content-overlay-1 temporary"></div>
                                 <img class="content-image-4" src="{{feeds.3.image.rendered}}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">{{ feeds.3.title | safe}}</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="explore-world exp-4 filter craft-post">
                           <div class="content-1">
                              <a href="https://unsplash.com/photos/HkTMcmlMOUQ">
                                 <div class="content-overlay-1 temporary"></div>
                                 <img class="content-image-4" src="{% static "markatix/img/explore-world/02.jpg" %}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">This is a title</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="explore-world exp-5 filter blog hidden-xs">
                           <div class="content-1">
                              <a href="{{ feeds.4.link | safe}}">
                                 <div class="content-overlay-1 temporary"></div>
                                 <img class="content-image-4" src="{{feeds.4.image.rendered}}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">{{ feeds.4.title | safe}}</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="explore-world exp-5 filter craft-post">
                           <div class="content-1">
                              <a href="https://unsplash.com/photos/HkTMcmlMOUQ">
                                 <div class="content-overlay-1 temporary"></div>
                                 <img class="content-image-4" src="{% static "markatix/img/explore-world/05.jpg" %}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">This is a title</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="explore-world exp-6 filter adjust-margin blog hidden-xs">
                           <div class="content-1">
                              <a href="{{ feeds.5.link | safe}}">
                                 <div class="content-overlay-1"></div>
                                 <img class="content-image-3" src="{{feeds.5.image.rendered}}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">{{ feeds.5.title | safe}}</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="explore-world exp-6 filter adjust-margin craft-post">
                           <div class="content-1">
                              <a href="https://unsplash.com/photos/HkTMcmlMOUQ">
                                 <div class="content-overlay-1"></div>
                                 <img class="content-image-3" src="{% static "markatix/img/explore-world/01.jpg" %}" class="img-responsive">
                                 <div class="content-details-1 fadeIn-bottom-1">
                                    <h3 class="content-title">This is a title</h3>
                                    <!-- <p class="content-text">This is a short description</p> -->
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
</div>
<div class="join-the-network" id="join-the-network">
         <div class="container">
            <div class="row">
               <div class="col-md-12" style="padding-left:0px;padding-right: 0px;">
                  <div class="join-data">
                     <div class="join-content">
                        <h2>Join The Network</h2>
                        <h6>Smart Places requires smart partners. Join the Ecohunters Network <a href="#">Readmore</a></h6>
                     </div>
                     <div class="join-btn">
                        <a href="/accounts/login">Sign Up</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
</div>

<div class="review" id="review">
       <div class="container">
          <div class="row">
             <div class="col-md-8 col-md-offset-2">
{#                 <div class="customized-heading-2">#}
{#                    <div class="background-img-3">#}
{#                       <h3>We Are</h3>#}
{#                       <h2>At our Best</h2>#}
{#                    </div>#}
{#                 </div>#}
{#                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>#}
{#                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">#}
                   <!-- Carousel indicators -->
{#                   <ol class="carousel-indicators">#}
{#                      <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>#}
{#                      <li data-target="#fade-quote-carousel" data-slide-to="1"></li>#}
{#                      <li data-target="#fade-quote-carousel" data-slide-to="2"></li>#}
{#                   </ol>#}
                   <!-- Carousel items -->
                   <div class="carousel-inner">
                      <div class="active item text-center">
                         <!-- <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>-->
{#                          <div class="reviewer-img text-center">#}
{#                            <img src="{% static "markatix/img/10.jpg" %}" class="img-responsive">#}
{#                          </div>#}
{#                          <blockquote>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>#}
{#                         </blockquote>#}
                          <h3><span><a href=""><i class="fa fa-facebook"></i></a></span><span><a href=""><i class="fa fa-twitter"></i></a></span><span><a href=""><i class="fa fa-instagram"></i></a></span><span><a href=""><i class="fa fa-youtube"></i></a></span></h3>
                      </div>
                      <div class="item text-center">
                        <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
{#                         <blockquote>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>#}
{#                         </blockquote>#}
                         <h3><span><a href=""><i class="fa fa-facebook"></i></a></span><span><a href=""><i class="fa fa-twitter"></i></a></span><span><a href=""><i class="fa fa-instagram"></i></a></span><span><a href=""><i class="fa fa-youtube"></i></a></span></h3>
                      </div>
                      <div class="item text-center">
                        <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
{#                         <blockquote>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>#}
{#                         </blockquote>#}
                         <h3><span><a href=""><i class="fa fa-facebook"></i></a></span><span><a href=""><i class="fa fa-twitter"></i></a></span><span><a href=""><i class="fa fa-instagram"></i></a></span><span><a href=""><i class="fa fa-youtube"></i></a></span></h3>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
</div>


<footer class="hidden-xs">
         <div class="footer" id="footer">
            <div class="container">
               <div class="row">
                  <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                     <h3> Destinations </h3>
                     <ul>
                        <li> <a href="{{ products.0.get_absolute_url }}"> {{ products.0.get_title }} </a> </li>
                        <li> <a href="{{ products.1.get_absolute_url }}"> {{ products.1.get_title }}  </a> </li>
                        <li> <a href="{{ products.2.get_absolute_url }}"> {{ products.2.get_title }}  </a> </li>
                        <li> <a href="{{ products.3.get_absolute_url }}"> {{ products.3.get_title }}  </a> </li>
                     </ul>
                  </div>
                  <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                     <h3> Experiences </h3>
                     <ul>
                        {% if experiences %}
                        <li> <a href="{{ experiences.0.get_absolute_url }}"> {{ experiences.0.product_title }} </a> </li>
                        <li> <a href="{{ experiences.1.get_absolute_url }}"> {{ experiences.1.product_title }} </a> </li>
                        <li> <a href="{{ experiences.2.get_absolute_url }}"> {{ experiences.2.product_title }} </a> </li>
                        <li> <a href="{{ experiences.3.get_absolute_url }}"> {{ experiences.3.product_title }} </a> </li>
                        {% endif %}
                     </ul>
                  </div>
                  <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                     <h3> Legal </h3>
                     <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                     </ul>
                  </div>
                  <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                     <h3> Refund &amp; Returns </h3>
                     <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                     </ul>
                  </div>
                  <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                     <h3> Newsletter </h3>
                     <ul>
                        <li>
                           <div class="input-append newsletter-box text-center">
                              <input type="text" class="full text-center" placeholder="Email ">
                              <button class="btn bg-gray" type="button"> Signup<i class="fa fa-long-arrow-right"> </i> </button>
                           </div>
                        </li>
                     </ul>
                     <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                     </ul>
                  </div>
               </div>
               <!--/.row--> 
            </div>
            <!--/.container--> 
         </div>
         <!--/.footer-->
</footer>
 <!--Start of Location Modal-->
<div class="portfolio-modal modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Find Your Flavour</h2>
                            <hr class="star-primary">
                            <div class="dropdown-content">
                              <form method="GET" id="form">       
                                <div class="col-md-2">
                                  <div class="dropdown destinations text-center">
                                     {% category_tree as tree_categories %}
                                      <select id="MwselectId" class="btn-primary form-control">
                                        {% for city in tree_categories %}
                                          <option value="{{city.0.get_absolute_url}}">{{city.0.name}}</option>
                                        {% endfor %}
                                      </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class='input-group date' id='datetimepicker6'>
                                    <input class="form-control" id="arr-date" name="date"  placeholder="Arrival Date (MM/DD/YYY)" type="text"/>
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class='input-group date' id='datetimepicker7'>
                                    <input class="form-control" id="dep-date" name="date"  placeholder="Departure Date (MM/DD/YYY)" type="text"/>
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                  </div>  
                                </div>
                                <div class="col-md-2">
                                    <!-- <div class="dropdown month text-center">
                                       <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Month
                                          <span class="caret"></span></button>
                                          <ul class="dropdown-menu">
                                             <li><a href="#">HTML</a></li>
                                             <li><a href="#">CSS</a></li>
                                             <li><a href="#">JavaScript</a></li>
                                          </ul>
                                       </div> -->
                                    <input class="form-control" id="people" name="people" placeholder="No. Of People" type="number"/>
                                </div>
                                <div class="col-md-2">
                                    <div class="button submit text-center">
                                        <input class="btn btn-primary" type="submit">
                                    </div>
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!--End of Location Modal-->
{% endblock content %}
{% block extrastyles %}

{% endblock %}
