{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load debug_tags %}
{% load thumbnail %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    {% with category=product.categories.all.0 %}
        {% for c in category.get_ancestors_and_self %}
        <li>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
        <li class="active">{{ product.title }}</li>

        {% get_back_button as backbutton %}
        {% if backbutton %}
            <li class="pull-right">
                <a href="{{ backbutton.url }}">
                    <i class="icon-arrow-left"></i> {{ backbutton.title }}
                </a>
            </li>
        {% endif %}
    {% endwith %}
</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block extrastyles %}

    <style>
        .main-navigation {
            text-align: center;
            float: right;
            clear: right;
            padding: 55px 0 50px 0;
{#            margin: 45px 0 0 0;#}
{#            margin: 2.8125rem 0 0 0;#}
            width: 100%;
        }
    </style>

{% endblock %}

{% block extrascripts %}
      <script>
            jQuery(function($) {

            // Create a clone of the navigation class called clone.
            $('.main-navigation').addClass('original').clone().insertAfter('.main-navigation').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','35').css('z-index','500').removeClass('original').hide();

            // Trigger the sticky function after you scroll down
            scrollIntervalID = setInterval(stickyTheMenu, 10);


            function stickyTheMenu() {

              var orgElementPos = $('.original').offset();
              orgElementTop = orgElementPos.top;

                // once you scroll past original, show the cloned class only
              if ($(window).scrollTop() >= (orgElementTop)) {

                // Cloned element should always have same left position
                orgElement = $('.original');
                coordsOrgElement = orgElement.offset();
                leftOrgElement = coordsOrgElement.left;
                widthOrgElement = orgElement.css('width');
                $('.cloned').css('left',leftOrgElement+'px').css('top',0).css('width',widthOrgElement).show();
                $('.original').css('visibility','hidden');
              }
              else {
                // not scrolled past the.main-navigation; only show the original.main-navigation.
                $('.cloned').hide();
                $('.original').css('visibility','visible');
              }
            }
            });

      </script>

{% endblock %}

{% block content %}
      <ul class="bxslider">
        {% with product.images.all as images %}
        {% for image in images %}  
          <li><img src="{{ image.original.url }}" class="img-responsive" /></li>
        {% endfor %}
        <!-- <li><img src="{% static "markatix/img/28.jpg" %}" class="img-responsive" /></li>
        <li><img src="{% static "markatix/img/29.jpg" %}" class="img-responsive" /></li>
        <li><img src="{% static "markatix/img/30.jpg" %}" class="img-responsive" /></li> -->
        {% endwith %}
      </ul>

      <div class="explore-ecohunter" id="explore-ecohunter">
         <div class="container-fluid">
            <div class="row">
                <div class="customized-heading-3">
                    <div class="text-center">
                        <div class="desti-property-icon-heading">
                            <p id="d-prop-heading"><i class="fa fa-shield fa-2x"></i>&nbsp;&nbsp;{{product.attr.abcd12}}</p>
                        </div>
                    </div>
                    <h1 style="color:#b48b50;font-weight:600;">{{ product.title }}</h1>
                    <!-- <h2>{{ titles.1 }}</h2> -->
                    <!-- <h6>Can't find a place of your taste, leave your recommendation and we will find one for you. Suggest a place you have stayed and loved the experience. Your incentive Awaits.</h6> -->
                </div>
            </div>
         </div>
      </div>

{#      <div class="dest-itenary-info">#}
{#        <div class="col-md-8 col-md-offset-2 text-center desti-styling">#}
{#          <div class="desti-decrib">#}
{#            <div class="col-md-3">#}
{#                <div class="desti-property-av">#}
{#                  <div class="desti-property-icon">#}
{#                    <img src="{% static "markatix/img/icons/001-open-door.png" %}" class="img-responsive icon-i">#}
{#                  </div>#}
{#                  <div class="desti-property-icon-heading">#}
{#                    <p id="d-prop-heading">{{product.attr.abcd12}}</p>#}
{#                  </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <div class="desti-guest-av">#}
{#                  <div class="desti-property-guest-icon">#}
{#                    <img src="{% static "markatix/img/icons/002-home.png" %}" class="img-responsive icon-i">#}
{#                  </div>#}
{#                  <div class="desti-property-guest-count">#}
{#                    <p id="d-prop-guest-count">{{product.attr.dcvd123}} guests</p>#}
{#                  </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <div class="desti-bedroom-av">#}
{#                  <div class="desti-bedroom-icon">#}
{#                    <img src="{% static "markatix/img/icons/003-users.png" %}" class="img-responsive icon-i">#}
{#                  </div>#}
{#                  <div class="desti-bedroom-icon-heading">#}
{#                    <p id="d-prop-bed-count">{{product.attr.qwer123}} Bedroom</p>#}
{#                  </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <div class="desti-beds-invent-av">#}
{#                  <div class="desti-beds-invent-icon">#}
{#                    <img src="{% static "markatix/img/icons/004-bed.png" %}" class="img-responsive icon-i">#}
{#                  </div>#}
{#                  <div class="desti-beds-invent-heading">#}
{#                    <p id="d-prop-invent-count">{{product.attr.wqwe123}} Beds</p>#}
{#                  </div>#}
{#                </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}

    <!-- HOTEL MAIN PAGE -->
{#    <div class="dropdown-details hidden-xs animated fadein">#}
<div class="container">
    <div class="row">
      <div id="site-navigation" class="main-navigation">
        <div class="process">
            <div class="process-row nav nav-tabs">
                  <div class="process-step">
                      <a href="#menu1" style="outline:0px">
                          <button type="button" class="btn btn-default btn-circle smoothscroll">
                              <p><i class="fa fa-info fa-2x"></i>&nbsp;<span style="font-size:18px;">EXPERIENCE</span></p>
                          </button>
                      </a>
                  </div>

                  <div class="process-step">
                      <a href = "#menu2" style="outline:0px">
                          <button type="button" class="btn btn-default btn-circle smoothscroll">
                              <i class="fa fa-file-text-o fa-2x"></i>&nbsp;<span style="font-size:18px;">ACTIVITIES</span></p>
                          </button>
                      </a>
                  </div>

                  <div class="process-step">
                      <a href = "#menu3" style="outline:0px">
                          <button type="button" class="btn btn-default btn-circle smoothscroll" href="#menu3">
                              <i class="fa fa-bed fa-2x"></i>&nbsp;<span style="font-size:18px;">ACCOMODATION</span></p>
                          </button>
                      </a>

                  </div>

                  <div class="process-step">
                      <a href= "#menu4" style="outline:0px">
                          <button type="button" class="btn btn-default btn-circle smoothscroll" href="#menu4">
                              <i class="fa fa-cogs fa-2x"></i>&nbsp;<span style="font-size:18px;">PRACTICAL INFO</span></p>
                          </button>
                      </a>
                  </div>

                  <div class="process-step">
                      <a href= "#menu5" style="outline:0px">
                          <button type="button" class="btn btn-default btn-price smoothscroll" href="#menu5">
                              <i class="fa fa-rupee fa-2x"></i>&nbsp;<span style="font-size:18px;">PRICE</span></p>
                          </button>
                      </a>
                  </div>

                  <div class="process-step">
                      {% block product_basket_form %}
                          {% include "catalogue/partials/add_to_basket_form_custom.html" %}
                      {% endblock %}
                  </div>
            </div>
        </div>
      </div>
    </div>


    <!--HOTEL PAGE TEXT INPUT -->
    <div class="row">
      <div class="container" style="padding: 40px 13px 20px 13px; border: solid 1px">
{#               <div id="menu1" class="text-center smoothscroll">#}
               <div id="menu1" class="smoothscroll descriptiontext" style="outline:0px">
                   <h3 class="text-center" style="font-weight:600;font-size:30px;">EXPERIENCE</h3>
                   <p class="text-center">{{ product.description | safe }}</p>
               </div>

{#               <div id="menu2" class="det smoothscroll">#}
               <div id="menu2" class="smoothscroll descriptiontext" style="outline:0px">
                   <h3 class="text-center" style="font-weight:600;font-size:30px;">ACTIVITIES</h3>
                   <p class="text-center">{{ product.activities | safe }}</p>
               </div>

               <div id="menu3" class=" smoothscroll descriptiontext" style="outline:0px">
                   <h3 class="text-center" style="font-weight:600;font-size:30px;">ACCOMODATION</h3>
                   <p class="text-center">{{ product.accomodation | safe }}</p>
                  <!-- <ul class="list-unstyled list-inline pull-right">
                     <li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
                     <li><button type="button" class="btn btn-info next-step">Next <i class="fa fa-chevron-right"></i></button></li>
                  </ul> -->
               </div>

               <div id="menu4" class="smoothscroll descriptiontext" style="outline:0px">
                   <h3 class="text-center" style="font-weight:600;font-size:30px;">PRACTICAL INFO</h3>
                   <p class="text-center">{{ product.practical | safe }}</p>
               </div>

               <div id="menu5" class="smoothscroll descriptiontext" style="outline:0px">
                   <h3 class="text-center" style="font-weight:600;font-size:30px;">PRICE</h3>
                    {% block product_stock_record %}
                        {% include "catalogue/partials/stock_record.html" with verbose=1 %}
                    {% endblock %}
               </div>
      </div>
    </div>
</div>
<form id="login-form" action='/booking/query/' method="post">
    {% csrf_token %}
    <div class="modal-body">
        <input id="user" name="user" class="form-control" type="text" placeholder="User" value="{{user.id}}" required>
        <input id="name" name="name" class="form-control" type="text" placeholder="Name" required>
        <input id="email" name="email" class="form-control" type="text" placeholder="Email id"  value="{{user.email}}" required>
        <input id="phone" name="phone" class="form-control" type="text" placeholder="Phone No" required>
        <input id="travel_dates" name="travel_dates" class="form-control" type="text" placeholder="Travel Dates" required>
        <input id="hotel" name="hotel" class="form-control" type="text" placeholder="Hotel" value="{{product.title}}" required>
        <input id="price" name="price" class="form-control" type="text" placeholder="price" required>
        <input id="type" name="type" class="form-control" type="text" placeholder="type" value="hotel-booking" required>        
    </div>
    <div class="modal-footer">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
    </div>
</form>
{% endblock content %}

