

<!DOCTYPE html>

<!--[if gt IE 8]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->
    <head>
        <title>
    All products | Oscar - 
</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="17th Aug 2017 11:53" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        
            <link rel="shortcut icon" href="/static/oscar/favicon.ico" />
        

        
        
    
    
<!--         <link rel="stylesheet" type="text/css" href="/static/oscar/css/styles.css" /> -->
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="/static/markatix/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/static/markatix/css/scrolling-nav.css" >
        <link rel="stylesheet" type="text/css" href="/static/markatix/css/custom.css">
        <link rel="stylesheet" type="text/css" href="/static/markatix/css/responsive.css">
        <link rel="stylesheet" type="text/css" href="/static/markatix/css/fade-carousel.css">
        <link rel="stylesheet" type="text/css" href="/static/markatix/css/animate.css">
        <link rel="stylesheet" type="text/css" href="/static/markatix/css/jquery.bxslider.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
         
  <style>
    .dropdown-details-1
    {
      margin-top: -29.9%;
    }
  </style>
 
    
<!--      <link rel="stylesheet" href="/static/oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/oscar/css/datetimepicker.css" /> -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    

        
        
  <style>
    .dropdown-details-1
    {
      margin-top: -29.9%;
    }
  </style>
 

        

        
            
            

        
    </head>

    <body id="default" class="default">
        
        
    
    <header class="header">


<!-- Navigation -->
    <div class="navbar-wrapper hidden-xs" id="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/"><img src="/static/markatix/img/logo.png" class="img-responsive"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse text-center">
                    <ul class="nav navbar-nav navbar-styling">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <!-- <li class="hidden">
                            <a class="page-scroll" href="#page-top"></a>
                        </li> -->
                        <li>
                            <a class="page-scroll active nav-link" href="/experience">Destinations</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/experience">Experiences</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/contact">Travel Workshops</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/about">Thought &amp; Character</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                         <li class="nav-contact"><a href="/accounts/login"> Login/SignUp</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
    <div class="navbar-wrapper hidden-lg" id="navbar-wrapper">
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
              <div class="container-fluid">
                  <div class="navbar-header page-scroll">
                      <button type="button" class="navbar-toggle hidden-xs" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="#" data-toggle="collapse" data-target=".navbar-ex1-collapse"><img src="/static/markatix/img/logo.png" class="img-responsive center-block"></a>
                      <div class="searchBarWrapper">
                            <div>
                               <div class="searchBarSmall">
                                     <!-- react-text: 3593 --><!-- /react-text -->
                                     <button type="button" class="button-search" data-toggle="modal" data-target="#myModal">
                                        <span class="icon">
                                           <i class="glyphicon glyphicon-search"></i>
                                        </span>
                                        <span class="copy">Gurugram · <span id="start-date" name="start-date">12 Jul</span> – 26 Jul · 1 guest</span>
                                     </button>
                                     <div class="focusUnderline"></div>
                               </div>
                               <!-- react-empty: 3600 -->
                            </div>
                            <!-- react-empty: 3601 --><!-- react-empty: 3603 --><!-- react-empty: 168 --><!-- react-empty: 169 --><!-- react-empty: 170 -->
                      </div>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse navbar-ex1-collapse">
                      <ul class="nav navbar-nav navbar-styling-1 text-center">
                          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                          <!-- <li class="hidden">
                              <a class="page-scroll" href="#page-top"></a>
                          </li> -->
                        <li>
                            <a class="page-scroll active nav-link" href="/experience">Destinations</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/experience">Experiences</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="#contact">Travel Workshops</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/about">Thought &amp; Character</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/contact">Contact Us</a>
                        </li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                           <li class="nav-contact"><a href="#">Login/SignUp</a></li>
                      </ul>
                  </div>
                  <!-- /.navbar-collapse -->
              </div>
              <!-- /.container -->
          </nav>
    </div>

        
    </header>

    
    
        <div class="container-fluid">
            <div class="page_inner">
                <!-- 
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        <li class="active">All products</li>
    </ul>

                
                    <div class="page-header action">
                        <h1>All products</h1>
                    </div>
                
                



<div id="messages">

</div>

                
                <div class="content">
                    

                    
                    <div id="promotions">
                        
                    </div> -->

                    
                    <div id="content_inner">
    <div class="featured-img-banner">
        <img src="/static/markatix/img/29.jpg" class="img-responsive">
    </div>
    <div class="banner-dropdown" id="banner-dropdown">
         <div class="container">
            <div class="row">
              <!-- 
              <form method="POST" id="form"><input type='hidden' name='csrfmiddlewaretoken' value='xYE5feCaVmqVPUjFHc5WAUtg0ksKu6fCTMvsuU3NX3TTnCE50OqfbDa73X2h1YZ5' />
               
                <select id="selectId">
                  
                    <option value="/catalogue/category/india_1/">India</option>
                  
                    <option value="/catalogue/category/india/gurgaon_2/">Gurgaon</option>
                  
                </select>
                <input type="submit"></input>
              </form>
               -->
              <form method="GET" id="form">
               <div class="dropdown-details hidden-xs animated fadein">
                  <div class="dropdown-heading">
                     <h3 class="text-center">Find Your Flavour</h3>
                  </div>
                  <div class="dropdown-content">
                     <div class="col-md-2">
                        <div class="dropdown destinations text-center">
                           
                            <select id="selectId" class="btn-primary form-control">
                              
                                <option value="/experience/category/india_1/">India</option>
                              
                                <option value="/experience/category/india/gurgaon_2/">Gurgaon</option>
                              
                            </select>
                           <!-- 
                           
                           <ul class="dropdown-menu">
                              
                                <li><a href="/catalogue/category/india_1/">India</a></li>
                              
                                <li><a href="/catalogue/category/india/gurgaon_2/">Gurgaon</a></li>
                              
                           </ul>
                           -->
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class='input-group date' id='datetimepicker6'>
                           <input type='text' class="form-control" id="arr-date" name="date" placeholder="Arrival Date (MM/DD/YYY)" />
                           <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                           </span>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class='input-group date' id='datetimepicker7'>
                           <input type='text' class="form-control" id="dep-date" name="date" placeholder="Departure Date(MM/DD/YYYY)" />
                           <span class="input-group-addon">
                           <span class="glyphicon glyphicon-calendar"></span>
                           </span>
                        </div>
                     </div>
                     <div class="col-md-2">
                      <!-- <div class="dropdown month text-center">
                           <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Month
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                 <li><a href="#">HTML</a></li>
                                 <li><a href="#">CSS</a></li>
                                 <li><a href="#">JavaScript</a></li>
                              </ul>
                           </div> -->
                        <input class="form-control" id="people" name="people" placeholder="No. Of Guests" type="number"/>
                     </div>
                     <div class="col-md-2">
                        <div class="button submit text-center">
                           <input class="btn btn-primary" type="submit"></input>
                           <!-- <button class="btn btn-primary" type="button">Submit</button> -->
                        </div>
                     </div>
                  </div>
               </div>
              </form>
            </div>
         </div>
    </div> 
    <div class="filter-dropdown hidden-xs">
         <div class="container">
            <div class="row">
               <div class="filter-btn">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i> Filter <span class="caret"></span></a>
                     <ul class="dropdown-menu dp" role="menu">
                        <div class="col-md-3">
                           <li class="filter-heading">
                              <p>Price</p>
                           </li>
                           <li class="divider"></li>
                           <ul style="list-style-type: none;">
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 2000-4000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 4000-6000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 6000-8000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 10000 & above</li>
                           </ul>
                        </div>
                        <div class="col-md-3">
                           <li class="filter-heading">
                              <p>Amenities</p>
                           </li>
                           <li class="divider"></li>
                           <ul style="list-style-type: none;">
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 2000-4000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 4000-6000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 6000-8000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 10000 & above</li>
                           </ul>
                        </div>
                        <div class="col-md-3">
                           <li class="filter-heading">
                              <p>Hotel Type</p>
                           </li>
                           <li class="divider"></li>
                           <ul style="list-style-type: none;">
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 2000-4000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 4000-6000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 6000-8000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 10000 & above</li>
                           </ul>
                        </div>
                        <div class="col-md-3">
                           <li class="filter-heading">
                              <p>Star Rating</p>
                           </li>
                           <li class="divider"></li>
                           <ul style="list-style-type: none;">
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 2000-4000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 4000-6000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 6000-8000</li>
                              <li class="price-filter-heading align"><input type="checkbox" name="price-1"> &#8377 10000 & above</li>
                           </ul>
                        </div>
                     </ul>
                  </li>
               </div>
            </div>
         </div>
    </div>
<!--     <form method="get" class="form-horizontal">
        
        <div style="display:none">
            
            
        </div>

        
            
                
                    <strong>6</strong> results.
                
            
            
        
    </form>-->
    
        <section>
            <div>
                
                    <li class="col-xs-12 col-sm-4 col-md-4col-lg-3" style="list-style-type: none;">







<article class="product_pod">
   <div class="places-dest">
      <div class="container-fluid">
         <div class="row margin">
            <div class="margin">
               <div id="myCarousel" class="carousel slide no-padding product-carousel" data-ride="carousel" data-interval="false">
                  
                  <div class="image_container">
                     
                     
                     <div class="carousel-inner">
                        <div class="item active">
                           <a href="/experience/hyatt-regency_7/">
                              <div class="content-overlay"></div>
                              <img src="/media/images/products/2017/08/04.jpg" alt="Hyatt Regency" class="content-image img-responsive img-size">
                              <div class="content-details fadeIn-bottom">
                                 <h3 class="content-title">Hyatt Regency</h3>
                                 <p class="content-text">Shaktiman fuck-fuck-fuck</p>
                              </div>
                           </a>
                        </div>
                     </div>                  
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--    
            
            <p class="star-rating ">
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
            </p>
            
             -->
         <div class="desti-descrip">   
            <div class="desti-price-name">
             
                <h4 class="destin-name"><i class="fa fa-shield"></i> 
                    <span id="d-name">
                        <a href="/experience/hyatt-regency_7/" title="Hyatt Regency">Hyatt Regency
                        </a>
                    </span>
                </h4>
             
             
                <h4 class="desti-price"><i class="fa fa-bed"></i> 
                    Starting From &#8377<span id="d-pirce">2750
                    </span>
                </h4>
            </div>     
             
            <!--  -->
            
         </div>
      </div>
   </div>
</article>
</li>
                
                    <li class="col-xs-12 col-sm-4 col-md-4col-lg-3" style="list-style-type: none;">







<article class="product_pod">
   <div class="places-dest">
      <div class="container-fluid">
         <div class="row margin">
            <div class="margin">
               <div id="myCarousel" class="carousel slide no-padding product-carousel" data-ride="carousel" data-interval="false">
                  
                  <div class="image_container">
                     
                     
                     <div class="carousel-inner">
                        <div class="item active">
                           <a href="/experience/itc-maurya_6/">
                              <div class="content-overlay"></div>
                              <img src="/media/images/products/2017/08/ITC-Delhi-Maurya-Hotel-IMG_0953.jpeg" alt="ITC Maurya" class="content-image img-responsive img-size">
                              <div class="content-details fadeIn-bottom">
                                 <h3 class="content-title">ITC Maurya</h3>
                                 <p class="content-text"></p>
                              </div>
                           </a>
                        </div>
                     </div>                  
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--    
            
            <p class="star-rating ">
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
            </p>
            
             -->
         <div class="desti-descrip">   
            <div class="desti-price-name">
             
                <h4 class="destin-name"><i class="fa fa-shield"></i> 
                    <span id="d-name">
                        <a href="/experience/itc-maurya_6/" title="ITC Maurya">ITC Maurya
                        </a>
                    </span>
                </h4>
             
             
                <h4 class="desti-price"><i class="fa fa-bed"></i> 
                    Starting From &#8377<span id="d-pirce">2750
                    </span>
                </h4>
            </div>     
             
            <!--  -->
            
         </div>
      </div>
   </div>
</article>
</li>
                
                    <li class="col-xs-12 col-sm-4 col-md-4col-lg-3" style="list-style-type: none;">







<article class="product_pod">
   <div class="places-dest">
      <div class="container-fluid">
         <div class="row margin">
            <div class="margin">
               <div id="myCarousel" class="carousel slide no-padding product-carousel" data-ride="carousel" data-interval="false">
                  
                  <div class="image_container">
                     
                     
                     <div class="carousel-inner">
                        <div class="item active">
                           <a href="/experience/taj-by-vivanta-group_5/">
                              <div class="content-overlay"></div>
                              <img src="/media/images/products/2017/08/taj.jpg" alt="Taj By Vivanta Group" class="content-image img-responsive img-size">
                              <div class="content-details fadeIn-bottom">
                                 <h3 class="content-title">Taj By Vivanta Group</h3>
                                 <p class="content-text"></p>
                              </div>
                           </a>
                        </div>
                     </div>                  
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--    
            
            <p class="star-rating ">
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
            </p>
            
             -->
         <div class="desti-descrip">   
            <div class="desti-price-name">
             
                <h4 class="destin-name"><i class="fa fa-shield"></i> 
                    <span id="d-name">
                        <a href="/experience/taj-by-vivanta-group_5/" title="Taj By Vivanta Group">Taj By Vivanta Group
                        </a>
                    </span>
                </h4>
             
             
                <h4 class="desti-price"><i class="fa fa-bed"></i> 
                    Starting From &#8377<span id="d-pirce">2750
                    </span>
                </h4>
            </div>     
             
            <!--  -->
            
         </div>
      </div>
   </div>
</article>
</li>
                
                    <li class="col-xs-12 col-sm-4 col-md-4col-lg-3" style="list-style-type: none;">







<article class="product_pod">
   <div class="places-dest">
      <div class="container-fluid">
         <div class="row margin">
            <div class="margin">
               <div id="myCarousel" class="carousel slide no-padding product-carousel" data-ride="carousel" data-interval="false">
                  
                  <div class="image_container">
                     
                     
                     <div class="carousel-inner">
                        <div class="item active">
                           <a href="/experience/hotel-riva-blu_4/">
                              <div class="content-overlay"></div>
                              <img src="/media/images/products/2017/08/alex-jones-6798.jpg" alt="Hotel Riva Blu" class="content-image img-responsive img-size">
                              <div class="content-details fadeIn-bottom">
                                 <h3 class="content-title">Hotel Riva Blu</h3>
                                 <p class="content-text"></p>
                              </div>
                           </a>
                        </div>
                     </div>                  
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--    
            
            <p class="star-rating ">
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
            </p>
            
             -->
         <div class="desti-descrip">   
            <div class="desti-price-name">
             
                <h4 class="destin-name"><i class="fa fa-shield"></i> 
                    <span id="d-name">
                        <a href="/experience/hotel-riva-blu_4/" title="Hotel Riva Blu">Hotel Riva Blu
                        </a>
                    </span>
                </h4>
             
             
                <h4 class="desti-price"><i class="fa fa-bed"></i> 
                    Starting From &#8377<span id="d-pirce">2750
                    </span>
                </h4>
            </div>     
             
            <!--  -->
            
         </div>
      </div>
   </div>
</article>
</li>
                
                    <li class="col-xs-12 col-sm-4 col-md-4col-lg-3" style="list-style-type: none;">







<article class="product_pod">
   <div class="places-dest">
      <div class="container-fluid">
         <div class="row margin">
            <div class="margin">
               <div id="myCarousel" class="carousel slide no-padding product-carousel" data-ride="carousel" data-interval="false">
                  
                  <div class="image_container">
                     
                     
                     <div class="carousel-inner">
                        <div class="item active">
                           <a href="/experience/hotel-country-inn_2/">
                              <div class="content-overlay"></div>
                              <img src="/media/images/products/2017/08/gabriel-ghnassia-518.jpg" alt="Hotel Country Inn" class="content-image img-responsive img-size">
                              <div class="content-details fadeIn-bottom">
                                 <h3 class="content-title">Hotel Country Inn</h3>
                                 <p class="content-text"></p>
                              </div>
                           </a>
                        </div>
                     </div>                  
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--    
            
            <p class="star-rating ">
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
            </p>
            
             -->
         <div class="desti-descrip">   
            <div class="desti-price-name">
             
                <h4 class="destin-name"><i class="fa fa-shield"></i> 
                    <span id="d-name">
                        <a href="/experience/hotel-country-inn_2/" title="Hotel Country Inn">Hotel Country Inn
                        </a>
                    </span>
                </h4>
             
             
                <h4 class="desti-price"><i class="fa fa-bed"></i> 
                    Starting From &#8377<span id="d-pirce">2750
                    </span>
                </h4>
            </div>     
             
            <!--  -->
            
         </div>
      </div>
   </div>
</article>
</li>
                
                    <li class="col-xs-12 col-sm-4 col-md-4col-lg-3" style="list-style-type: none;">







<article class="product_pod">
   <div class="places-dest">
      <div class="container-fluid">
         <div class="row margin">
            <div class="margin">
               <div id="myCarousel" class="carousel slide no-padding product-carousel" data-ride="carousel" data-interval="false">
                  
                  <div class="image_container">
                     
                     
                     <div class="carousel-inner">
                        <div class="item active">
                           <a href="/experience/radisson-blue_1/">
                              <div class="content-overlay"></div>
                              <img src="/media/images/products/2017/08/Facade-Image-for-Desktop-Mumbai.jpg" alt="Radisson Blue" class="content-image img-responsive img-size">
                              <div class="content-details fadeIn-bottom">
                                 <h3 class="content-title">Radisson Blue</h3>
                                 <p class="content-text"></p>
                              </div>
                           </a>
                        </div>
                     </div>                  
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!--    
            
            <p class="star-rating ">
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
            </p>
            
             -->
         <div class="desti-descrip">   
            <div class="desti-price-name">
             
                <h4 class="destin-name"><i class="fa fa-shield"></i> 
                    <span id="d-name">
                        <a href="/experience/radisson-blue_1/" title="Radisson Blue">Radisson Blue
                        </a>
                    </span>
                </h4>
             
             
                <h4 class="desti-price"><i class="fa fa-bed"></i> 
                    Starting From &#8377<span id="d-pirce">2750
                    </span>
                </h4>
            </div>     
             
            <!--  -->
            
         </div>
      </div>
   </div>
</article>
</li>
                
                




            </div>
        </section>
    
     <div class="filter-mobile-btn hidden-lg">
        <a href="" data-toggle="modal" data-target="#myModal-filter"><i class="fa fa-sliders"></i> Filter</a>
      </div>
      <!--End of Filter Button-->
      <!--Start of Filter Modal-->
      <div class="portfolio-modal modal fade" id="myModal-filter" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="modal-body">
                        <h2>Filter</h2>
                        <hr class="star-primary">
                        <form class="form-horizontal">
                            <!-- Multiple Checkboxes -->
                            <div class="form-group">
                              <h4 class="col-md-12 control-label" for="checkboxes">Room Type</h4>
                              <div class="col-md-8">
                                <div class="checkbox">
                                  <label for="checkboxes-0">
                                    <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                                    <span id="d-private">Private Room</span>
                                  </label>
                                  <p class="d-room-qoute">Enjoy Your Privacy</p>
                                </div>
                                <div class="checkbox">
                                  <label for="checkboxes-1">
                                    <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                                    <span id="d-entire">Entire Home</span>
                                  </label>
                                  <p class="d-room-qoute">You have your own place</p>
                                </div>
                                <div class="checkbox">
                                  <label for="checkboxes-2">
                                    <input type="checkbox" name="checkboxes" id="checkboxes-2" value="3">
                                    <span id="d-shared">Shared Room</span>
                                  </label>
                                  <p class="d-room-qoute">Share Your Privacy</p>
                                </div>
                              </div>
                              <hr class="star-primary">
                              <h4 class="col-md-12 control-label" for="checkboxes">Price Range</h4>
                              <p class="price-quote">Lorem Ipsum</p>
                              <div class="des-price">  
                                    <select id="selectbasic" name="selectbasic" class="form-control">
                                      <option value="1">Option one</option>
                                      <option value="2">Option two</option>
                                    </select>
                                    <select id="selectbasic" name="selectbasic" class="form-control">
                                      <option value="1">Option one</option>
                                      <option value="2">Option two</option>
                                    </select>
                              </div>
                              <h4 class="col-md-12 control-label" for="checkboxes">Price Range</h4>
                              <p class="price-quote">Lorem Ipsum</p>
                            </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--End of Filter Modal-->
</div>
                </div>
            </div>
        </div>
    

   <!--  
<footer class="footer container-fluid">
    
        
    
</footer> -->


        
        
  
            <!-- jQuery -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="/static/oscar/js/jquery/jquery-1.9.1.min.js"><\/script>')</script>
        
  


        
        
    
        
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="/static/markatix/js/bootstrap.min.js"></script>
    
    <!-- Oscar -->
    <script src="/static/oscar/js/oscar/ui.js" type="text/javascript" charset="utf-8"></script>
<!--     <script src="/static/oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" type="text/javascript" charset="utf-8"></script> -->
<!--     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script> -->
    <script src="http://kylemitofsky.com/libraries/libraries/bootstrap-datepicker.js"></script>
    <script src="/static/markatix/js/jquery.easing.min.js"></script>
    <script src="/static/markatix/js/scrolling-nav.js"></script>
    <script src="/static/markatix/js/jquery.bxslider.min.js"></script>
    <script src="/static/markatix/js/bx-slider.js"></script>
    <script src="/static/markatix/js/app.js"></script>



        
        
    

    


        
        <script type="text/javascript">
            $(function() {
                
    
    
    oscar.init();

    oscar.search.init();

            });
        </script>

        
        <!-- Version: N/A -->
    </body>
</html>
