{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load debug_tags %}
{% load thumbnail %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    {% with category=product.categories.all.0 %}
        {% for c in category.get_ancestors_and_self %}
        <li>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
        <li class="active">{{ product.title }}</li>

        {% get_back_button as backbutton %}
        {% if backbutton %}
            <li class="pull-right">
                <a href="{{ backbutton.url }}">
                    <i class="icon-arrow-left"></i> {{ backbutton.title }}
                </a>
            </li>
        {% endif %}
    {% endwith %}
</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block extrascripts %}

{% endblock %}

{% block content %}
<section id="exp-header" class="container experience-detail" style="margin-top: 120px; margin-bottom: 1em">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 exp-image">
      <div id="exp_carousel" class="carousel slide center-block" data-ride="carousel">
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        {% with experience.images as images %}

          {% for image in images %} 
         
          <div class="item  {% if forloop.counter0 == 0 %} active {% endif %} "><img src="{{ image.image.url }}" alt="{{experience.product_title}}"></div>
          {% endfor %}
          
        </div>
        <!-- Left and right controls -->
        {% if images %}
        <a class="left carousel-control" href="#exp_carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#exp_carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
        {% endif %}
        {% endwith %}
      </div>
        
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 exp-image-detail">
        <h1 class="text-center">{{experience.product_title}}</h1>
        <hr>
        <div class="dest-itenary-info">
          <div class="col-md-12 col-sm-12 text-center desti-styling">
            <div class="desti-decrib">
              <div class="col-md-3 col-sm-3">
                  <div class="desti-property-av">
                    <div class="desti-property-icon">
                      <img src="{% static "markatix/img/icons/001-duration.png" %}" class="img-responsive icon-i">
                    </div>
                    <div class="desti-property-icon-heading">
                      <p id="d-prop-heading"><strong>{{experience.duration}}</strong></p>
                    </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3">
                  <div class="desti-guest-av">
                    <div class="desti-property-guest-icon">
                      <img src="{% static "markatix/img/icons/002-seats.png" %}" class="img-responsive icon-i">
                    </div>
                    <div class="desti-property-guest-count">
                      <p id="d-prop-guest-count"><strong>{{experience.seats}}</strong> seats</p>
                    </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3">
                  <div class="desti-bedroom-av">
                    <div class="desti-bedroom-icon">
                      <img src="{% static "markatix/img/icons/003-slots.png" %}" class="img-responsive icon-i">
                    </div>
                    <div class="desti-bedroom-icon-heading">
                      <p id="d-prop-bed-count"><strong>{{experience.slots}}</strong> Slots</p>
                    </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3">
                  <div class="desti-beds-invent-av">
                    <div class="desti-beds-invent-icon">
                      <img src="{% static "markatix/img/icons/004-activity.png" %}" class="img-responsive icon-i">
                    </div>
                    <div class="desti-beds-invent-heading">
                      <p id="d-prop-invent-count"><strong>{{experience.activity}}</strong> activity</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div id="exp-experience" class ="col-md-12">
          <h3 class="text-center">The Experience</h3>
          <p>{{ experience.the_experience }}</p>
        </div> 
    </div>
  </div>
</section>

<section id="exp-nav" class="container-fluid" style="background-color: #fff;">
  <div class="process">
    <div class="process-row nav nav-tabs">   
        <div class="process-step">
          <a href = "#menu2">
              <button type="button" class="btn btn-default btn-circle smoothscroll">
                  <i class="fa fa-file-text-o fa-2x"></i>&nbsp;<span style="font-size: 18px">ACTIVITIES</span>
              </button>
          </a>
        </div>
      
        <div class="process-step">
          <a href = "#menu3">
              <button type="button" class="btn btn-default btn-circle smoothscroll" href="#menu3">
                  <i class="fa fa-image fa-2x"></i>&nbsp;<span style="font-size: 18px">WHY TO ENROLL ?</span>
              </button>
          </a>
        </div>
      
        <div class="process-step">
          <a href= "#menu4">
              <button type="button" class="btn btn-default btn-circle smoothscroll" href="#menu4">
                  <i class="fa fa-cogs fa-2x"></i>&nbsp;<span style="font-size: 18px">BOOKING DETAILS</span>
              </button>
          </a>
        </div>

        <!--<div class="process-step">-->
            <!--<a href= "#menu6">-->
                <!--<button type="button" class="btn btn-default btn-circle smoothscroll" href="#menu6">-->
                    <!--<i class="fa fa-cogs fa-2x"></i>&nbsp;<span style="font-size:18px;">PRACTICAL INFO</span>-->
                <!--</button>-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="process-step">-->
            <!--<a href= "#menu7">-->
                <!--<button type="button" class="btn btn-default btn-price smoothscroll" href="#menu7">-->
                    <!--<i class="fa fa-rupee fa-2x"></i>&nbsp;<span style="font-size:18px;">PRICE</span>-->
                <!--</button>-->
            <!--</a>-->
        <!--</div>-->
      
        <div class="process-step">
          <a href="book-now">
              <button type="button" class="btn btn-default btn-circle" href="book-now">
                  <i class="fa fa-check fa-2x"></i>&nbsp;<span style="font-size: 18px">BOOK NOW</span>
              </button>
          </a>
        </div>
    </div>
  </div>
</div>
</section>

<section class="exp-detail container">

      <div id="menu2" class="det smoothscroll">
          <h3  class="text-center">Activities</h3>
          <p class="text-center">{{ experience.the_activity | safe }}</p>

      </div>

      <div id="menu3" class=" smoothscroll">
        <h3 class="text-center">Why to Enroll</h3>
        <p class="text-center">{{ experience.Accomodation | safe }}</p>

      </div>

      <div id="menu4" class="smoothscroll">
        <h3 class="text-center">Booking Details</h3>
        <p class="text-center">{{ experience.practical | safe }}</p>
      </div>

        <!--<div id="menu6" class="smoothscroll">-->
            <!--<h3 class="text-center">Practical Info</h3>-->
            <!--<p class="text-center">{{ product.practical | safe }}</p>-->
        <!--</div>-->

        <!--<div id="menu7" class="smoothscroll">-->
            <!--<h3 class="text-center">Price</h3>-->
            <!--{% block product_stock_record %}-->
                <!--{% include "catalogue/partials/stock_record.html" with verbose=1 %}-->
            <!--{% endblock %}-->
        <!--</div>-->

      <div id="menu5" class="">
          <h3 class="text-center"></h3>
          <div class="book-button">
            <a href="book-now">Book Now</a>
          </div>
      </div>
</section>
{% endblock content %}


