<!-- {% load currency_filters %}
{% load category_tags %} -->
{% load i18n %}
{% load staticfiles %}

<!-- Navigation -->
    <div class="navbar-wrapper hidden-xs primary-nav" id="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/"><img src="{% static "markatix/img/logo.png" %}" class="img-responsive"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse text-center">
                    <ul class="nav navbar-nav navbar-styling">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <!-- <li class="hidden">
                            <a class="page-scroll" href="#page-top"></a>
                        </li> -->
                        <li>
                            <a class="page-scroll active nav-link" href="/catalogue">Destinations</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/experience">Experiences</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/contact">Travel Workshops</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/about">Thought &amp; Character</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                         <li class="nav-contact"><a href="/accounts/login"> Login/SignUp</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
    <div class="navbar-wrapper hidden-lg primary-nav" id="navbar-wrapper">
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
              <div class="container-fluid">
                  <div class="navbar-header page-scroll">
                      <button type="button" class="navbar-toggle hidden-xs" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="#" data-toggle="collapse" data-target=".navbar-ex1-collapse"><img src="{% static "markatix/img/logo.png" %}" class="img-responsive center-block"></a>
                      <div class="searchBarWrapper">
                            <div>
                               <div class="searchBarSmall">
                                     <!-- react-text: 3593 --><!-- /react-text -->
                                     <button type="button" class="button-search" data-toggle="modal" data-target="#myModal">
                                        <span class="icon">
                                           <i class="glyphicon glyphicon-search"></i>
                                        </span>
                                        <span class="copy">Gurugram · <span id="start-date" name="start-date">12 Jul</span> – 26 Jul · 1 guest</span>
                                     </button>
                                     <div class="focusUnderline"></div>
                               </div>
                               <!-- react-empty: 3600 -->
                            </div>
                            <!-- react-empty: 3601 --><!-- react-empty: 3603 --><!-- react-empty: 168 --><!-- react-empty: 169 --><!-- react-empty: 170 -->
                      </div>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse navbar-ex1-collapse">
                      <ul class="nav navbar-nav navbar-styling-1 text-center">
                          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                          <!-- <li class="hidden">
                              <a class="page-scroll" href="#page-top"></a>
                          </li> -->
                        <li>
                            <a class="page-scroll active nav-link" href="/catalogue">Destinations</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/experience">Experiences</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/contact">Travel Workshops</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/about">Thought &amp; Character</a>
                        </li>
                        <li>
                            <a class="page-scroll nav-link" href="/contact">Contact Us</a>
                        </li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                           <li class="nav-contact"><a href="#">Login/SignUp</a></li>
                      </ul>
                  </div>
                  <!-- /.navbar-collapse -->
              </div>
              <!-- /.container -->
          </nav>
    </div>
